<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML FORMS</title>
</head>
<body>
    <h1>Hello, HTML Forms!</h1>
    <form action="/login" method="post">
        <label for="username">Name</label>
        <input type="text" placeholder="Name" name="username">
        <label for="password">Password</label>
        <input type="text" placeholder="Password" name="password">
        <button type="submit">Ok</button>
    </form>
</body>
</html>