<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Library</title>
  </head>
  <body>
    <h1>My Library</h1>
    
    {% if books %}
      <ul>
      {% for each in books %}
        <li>
          <form action="{{ url_for('home')}}" method="post">
            <input type="hidden" name="delete_id" value="{{ each.id }}">
            <button type="submit">Delete</button>
            {{ each.title }} - {{ each.author }} - {{ each.rating }}
            <a href="{{ url_for('edit', book_id=each.id)}}">Edit Rating</a>
          </form>
        </li>
      {% endfor %}
      </ul>
    {% else %}
      <p>Library is empty!</p>
    {% endif %}

    <a href="{{ url_for('add') }}">Add New Book</a>
  </body>
</html>
